.navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white !important;
}

.cor-navbar {
  background: linear-gradient(to right, #123d12, #3db83d, #a9f859);
}

.card-bg {
  background-color: white;
  border-radius: 40px;
}

.font-color {
  color: white;
}
.font-color-table {
  color: black;
}
